.toast-messages {
  display: flex;
  flex-direction: column-reverse;
}

.top-right {
  position: absolute;
  top: 0px;
  right: 0px;
}

.note-container .close-icon {
  font-size: 1em !important;
}

.note-container .note {
  margin: 0px !important;
}
